---
import { getChosen, getId } from '@/ts/get-id';
import { getLevel } from '@/ts/get-level';

const id = getId(Astro.url.pathname);
const nivel = await getLevel(id);
const chosen = await getChosen(id);
const raza = chosen.raza;
const clase = chosen.clase;
---

<article class='grid grid-cols-10 rounded-2xl'>
  <a href=`/wiki/${raza}` class='col-span-2'>
    <h3>{raza}</h3>
  </a>
  <section class='experience col-span-6 flex justify-center items-center gap-2'>
    <h3>Nivel <b>{nivel.nivel}</b></h3>
    <div class='experience-bar rounded-lg'>
      <div
        class='experience-progress'
        style=`width: ${nivel.bar}%; background-color: ${nivel.bar == 100 ? "var(--gray)" : "var(--color-amber-500)"}`
      >
      </div>
    </div>
    <h3>
      <b class='text-amber-400'>{chosen.experiencia?.toLocaleString()}</b>/{
        nivel.meta.toLocaleString()
      }
    </h3>
  </section>
  <a href=`/wiki/${clase}` class='col-span-2'>
    <h3>{clase}</h3>
  </a>
</article>

<style>
  article {
    box-shadow: var(--shadow);
    font-family: var(--number);
  }
  section,
  a {
    transition: box-shadow 300ms ease;
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    cursor: pointer;

    margin: 1rem;
    padding: 1rem;
  }
  section:hover:not(.experience),
  a:hover {
    box-shadow: var(--shadow-pressed-theme);
    background: url(/src/assets/noise_theme.svg);
    background-color: var(--theme);
  }
  /* Experience */
  section.experience {
    box-shadow: var(--shadow-pressed);
    cursor: default;
    padding: 0;
  }
  .experience h3 {
    padding-inline: 1rem;
    text-wrap: nowrap;
  }
  .experience-bar {
    box-shadow: var(--shadow-pressed);
    box-sizing: border-box;

    height: 0.5cm;
    width: 80%;
  }
  .experience-progress {
    /* background: linear-gradient(
      90deg,
      var(--color-amber-600) 0%,
      var(--color-amber-300) 100%
    ); */
    box-shadow: var(--shadow);
    border-radius: 0.5rem;

    height: 100%;
  }
</style>
