---
interface Props {
  id: Number;
  name: String;
  level: Number;
}
const { id, name, level } = Astro.props;
---

<a href=`/personajes/jugadores/${id}` class='rounded-2xl'>
  <div
    class='card shadow shadow-theme-hover shadow-theme-animation rounded-2xl'
  >
    <img
      src=`/src/assets/characters/${name.split(' ')[0]}.jpg`
      alt=`${name}`
      class='rounded-t-2xl object-cover object-top aspect-square'
    />
    <div class='flex items-center justify-between p-4 w-full'>
      <h2 class='text-lg'>{name}</h2>
      <div class='fill-white flex gap-2'>
        <!-- Raza -->
        <p>{level}</p>
        <!-- Clase -->
        <!-- <p>{id}</p> -->
      </div>
    </div>
  </div>
</a>

<style>
  /* Debug Mode */
  /* * {
    border: solid 1px var(--white);
  } */
  /* Tarjetas */
  .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .card img {
    width: 8cm;
    height: 8cm;
  }
  /* Textos */
  h2,
  p {
    font-family: var(--handwritten);
  }
  /* SVGs */
  svg {
    height: 0.75cm;
    width: 0.75cm;
    box-sizing: border-box;
  }
</style>
