---
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner.astro';
// Jugadores
import Portrait from '@/components/characters/Portrait.astro';
import Experience from '@/components/characters/players/Experience.astro';
import Stats from '@/components/characters/Stats.astro';
import Speed from '@/components/characters/Speed.astro';
import Iniciative from '@/components/characters/players/mini/Iniciative.astro';
import Inspiration from '@/components/characters/players/mini/Inspiration.astro';
import Health from '@/components/characters/Health.astro';
import Comp from '@/components/characters/players/mini/Comp.astro';
// DB
import { db, eq, Jugadores, Razas, Clases } from 'astro:db';
import Shield from '@/components/characters/players/Shield.astro';

export async function getStaticPaths() {
  const jugadores = await db.select().from(Jugadores);

  return jugadores.map((jugador) => ({
    params: { player: jugador.id },
  }));
}
const { player } = Astro.params;

const jugador = await db
  .select()
  .from(Jugadores)
  .where(eq(Jugadores.id, player));
const chosen = jugador[0]; // Elegimos el Primero

const raza = await db.select().from(Razas).where(eq(Razas.nombre, chosen.raza));
const raceChosen = raza[0];

const clase = await db
  .select()
  .from(Clases)
  .where(eq(Clases.nombre, chosen.clase));
const classChosen = clase[0];
---

<Layout>
  <hr id='info' class='invisible' />
  <Banner text={chosen.nombre} />
  <main class='main h-[200vh]'>
    <article
      class='tabs flex justify-around gap-8 mb-4 p-4 rounded-2xl sticky top-[2.3cm]'
    >
      <a href='#info'>
        <h2>Atributos y Habilidades</h2>
      </a>
      <a href=''>
        <h2>Inventario</h2>
      </a>
      <a href=''>
        <h2>Historia</h2>
      </a>
    </article>
    <!-- MAIN -->
    <article class='grid grid-cols-10 gap-4'>
      <section class='col-span-10 row-span-1 uppercase'>
        <Experience
          exp={Number(chosen.experiencia)}
          race={chosen.raza}
          role={chosen.clase}
        />
      </section>
      <section class='col-span-1 row-span-1'>
        <Inspiration />
      </section>
      <section class='col-span-1 row-span-1'>
        <Comp />
      </section>
      <section class='col-span-1 row-span-1'>
        <Iniciative />
      </section>
      <!-- Imagen -->
      <section class='col-span-4 row-span-4'>
        <Portrait name={chosen.nombre.split(' ')[0]} />
      </section>
      <!-- Estadisticas -->
      <section class='col-span-3 row-span-4'>
        <Stats />
      </section>
      <section class='col-span-3 row-span-1'>
        <Speed feets={raceChosen.pies} fly={60} />
      </section>
      <section class='col-span-3 row-span-1'>
        <Shield />
      </section>
      <section class='col-span-3 row-span-1'>
        <Speed feets={raceChosen.pies} />
      </section>
      <section class='col-span-10 row-span-1'>
        <Health hit_dice={classChosen.dados_golpe} />
      </section>
    </article>
  </main>

  <style>
    /* Debug Mode */
    /* * {
    border: solid 1px var(--white);
  } */
    /* Sections */
    .tabs {
      box-shadow: var(--shadow);
      background: url(/src/assets/resources/noise.svg);
    }
    .tabs a {
      box-shadow: var(--shadow);
      border-radius: 0.5rem;
      padding: 1rem;
      width: 100%;

      font-family: var(--title);
    }
    .tabs a:hover {
      background: url(/src/assets/resources/noise_theme.svg);
      box-shadow: var(--shadow-pressed-theme);
      background-color: var(--theme);
    }
  </style>
</Layout>
